body {
    background-color: peachpuff;
    color: chocolate;
}

img {
    display: block;
    
     margin-left: auto;
      margin-right: auto;
      
      /*margin-right: 200px;*/
}

nav {
    height: 600px;
    /*width: 200px;
    float: left;*/
    padding: 5px;
    line-height: 30px;
    font-size: 30px;
    margin-left: 550px;
}

footer {
    text-align: center;
    margin-right: 200px;
}

h2 {
    text-align: center;
    
}

article {
    margin-left: 450px;
    font-size: 30px;
}